{% extends 'base.html' %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">导入表格</h3>
        </div>
        <div class="panel-body">


            <div class="text-center">
                {% if ret.code == 0 %}
                    <table border="1" class="table table-bordered text-center">
                        <tr>
                            <th class="text-center">错误地址</th>
                            <th class="text-center">错误提示</th>
                        </tr>

                        {% for dic in ret.msg %}
                            {% for k,v in dic.items %}
                                <tr>
                                    <td>
                                        {{ k }}
                                    </td>
                                    <td>
                                        {{ v.0 }}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    </table>
                {% elif ret.code == 1 %}
                    <form action="/save_xlsx/" method="post">
                        {% csrf_token %}
                        <table class="table table-hover table-hover table-bordered">
                            <tr>
                                <th class="text-center">选择</th>
                                <th class="text-center">表名</th>
                            </tr>
                            {% for i in ret.msg %}
                                <tr>
                                    <td><input type="checkbox" name="sheet_name" value="{{ i }}"></td>
                                    <td>{{ i }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                        <input type="button" value="全选" id="check_all" class="text-center">

                        <input type="submit" class="to_save btn btn-success text-center center-block" value="保存至数据库">

                    </form>
                    {% else %}
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input class="xlsx_input btn text-center center-block" type="file" name="xlsx">
                        <input class="upload btn btn-info" type="submit" value="确认上传">
                    </form>
                    </div>
                {% endif %}
            <a href="{{ ret.last_url|default:'/' }}" id="return_key" class="btn btn-primary text-center center-block">返回</a>

        </div>
    </div>

    <script>
        var check_all = document.getElementById('check_all');
        var checkbox = document.getElementsByName('sheet_name');
        check_all.onclick = function () {
            if (check_all.value === '取消') {
                for (let i = 0; i < checkbox.length; i++) {
                    checkbox[i].checked = false;
                }
                check_all.value = '全选'
            }
            else {
                for (let i = 0; i < checkbox.length; i++) {
                    checkbox[i].checked = true;
                }
                check_all.value = '取消'
            }
        }
    </script>
{% endblock %}












