{% extends 'base.html' %}
{% block content %}


<div>
    {% if error_msg %}
        <div class="inner text-center">
            <h1>保存失败</h1>
        </div>
        <table border="1" class="table table-bordered table-hover text-center">
            <tr>
                <th class="text-center">错误地址</th>
                <th class="text-center">错误提示</th>
            </tr>
            {% for ret in error_msg %}
                {% for dic in ret.msg %}
                    {% for k,v in dic.items %}
                        <tr>
                            <td>
                                {{ k }}
                            </td>
                            <td>
                                {{ v.0 }}
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        </table>
    {% else %}
        <h1 class="text-center">保存成功</h1>
    {% endif %}
    <a href="/" id="return_key" class="retreat btn btn-success center-block text-center">返回</a>

</div>
{% endblock %}





